name: "Run nix checks"
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  check_fourmolu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - name: Install Nix
        uses: cachix/install-nix-action@ba0dd844c9180cbf77aa72a116d6fbc515d0e87b # V27
        with:
          extra_nix_config: |
            extra-experimental-features = nix-command flakes
      - uses: cachix/cachix-action@ad2ddac53f961de1989924296a1f236fcfbaa4fc # v15
        with:
          name: slack-web
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Run all nix checks
        run: |
          nix build --print-build-logs --keep-going ".#checks.x86_64-linux.all"
